<tr>
  <td>
    <h4><%= service_level_agreement.code %></h4>
  </td>
  <td>
    <h4><%= service_level_agreement.description %></h4>
  </td>
  <td>
    <h4><%= service_level_agreement.business_days %></h4>
  </td>
  <td>
    <h4><%= service_level_agreement.business_hours %></h4>
  </td>
</tr>