<section class="admin-user_types-index">

  <header class="page-header">
    <h1>Admin &raquo; User Types</h1>
  </header>

  <div class="well">
    <%= link_to '+ New User Type', [:new, :admin, :user_type], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default user_types">

    <table class="table table-bordered">
      </thead class="table_head">
        <tr>
          <th>User Type</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% if @user_types %>
        <%= render @user_types %>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
