<section class="home_description-helpdesk">
  <div class="home-open_ticket">
    <p>
    HelpDesk provides progressive, and affordable 
services, accessible on mobile and online 
for everyone
    </p>
  </div>
  <div class="home-dashboard-pic">
  <div>
      <%= image_tag("MainImageBig.png", alt: "main image img", class: "home_main-image" ) %>
  </div>
  </div>
</section>