<tr>
  <td>
    <h4><%= contract_product.contract_id %></h4>
  </td>
  <td>
    <h4><%= contract_product.product_id %></h4>
  </td>
  <td>
    <h4><%= contract_product.serial_number %></h4>
  </td>
</tr>