<tr>
  <td>
    <h4><%= category.code %></h4>
  </td>
  <td>
    <h4><%= category.description.html_safe %></h4>
  </td>
  <td>
    <%= link_to fa_icon('edit'), edit_admin_category_path(category), class: 'btn btn-sm btn-primary' %>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, category], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>