<tr>
  <td>
    <h4><%= product.category_id %></h4>
  </td>
  <td>
    <h4><%= product.code %></h4>
  </td>
  <td>
    <h4><%= product.description %></h4>
  </td>
  <td>
    <h4><%= product.model %></h4>
  </td>
</tr>
