<tr>
  <td>
    <%= QaCategory.find(qa.qa_category_id).code %>
  </td>
  <td>
    <%= qa.problem.html_safe %>
  </td>
  <td>
    <%= qa.solution.html_safe %>
  </td>
  <td>
    <%= link_to fa_icon('edit'), edit_qa_path(qa), class: 'btn btn-sm btn-primary' %>
  </td>

</tr>