<section class="admin-qa-index">

  <header class="page-header">
    <h1>F.A.Q</h1>
  </header>

  <div class="well">
    <h3> F.A.Q </h3>
  </div>

  <div class="panel panel-default qas">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>QA Category</th>
          <th>Problem</th>
          <th>Solution</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @qas %>
          <%= render @qas %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
