
<section class="admin-qa-index">

  <header class="page-header">
    <h1>F.A.Q</h1>
  </header>

  <!--<div class="well">
    <h3> F.A.Q </h3>
  </div> -->

  <div class="panel panel-default qas">

    <table class="table table-bordered">
      <thead class="table_head">
        <tr>
          <th width="20%";>QA Category</th>
          <th width="70%";>Problem</th>
          <th width="10%";></th>
        </tr>
      </thead>
      <tbody>
        <% if @qas %>
          <%= render @qas %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
