.home_open_ticket-virtual-helpdesk.map_about-title {
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.home_ourservises-description-title-border.map_about-underline {
  display: flex;
}

.home_open_ticket.map_about {
  max-width: 29rem;
  margin-right: 10rem;
}
.home_dot-laptop-botton.about_section1-botton {
  left: 42rem;
}

.home-work-small-pic.about_map-google {
  position: absolute;
  margin: 0;
  left: -10rem;
}

.home_work-efficitently-description.about_map-contact-desc {
  margin-left: 40rem;
  margin-bottom: 6rem;
}

.about_map-contact-details {
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home_blob-main-small.about_cloud2 {
  top: -6rem;
  left: 53rem;
}
