// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Mulish:wght@300;700&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap");
// App
@import "products";
@import "home_page";

// Global
body {
  padding-top: 70px;
  font-family: "Mulish", sans-serif;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.navbar {
  font-weight: 700;
}
