<tr>
  <td>
    <h4><%= ticket_priority.code %></h4>
  </td>
  <td>
    <h4><%= ticket_priority.description %></h4>
  </td>
  <td>
    <h4><%= ticket_priority.business_days %></h4>
  </td>
  <td>
    <h4><%= ticket_priority.business_hours %></h4>
  </td>
</tr>