<section class="admin-ticket_priorities-index">

  <header class="page-header">
    <h1>Admin &raquo; Ticket Priorities</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Priority', [:new, :admin, :ticket_priority], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default ticket_priorities">

    <table class="table table-bordered">
      <thead class="table_head">
        <tr>
          <th>Priority</th>
          <th>Description</th>
          <th>Business Days</th>
          <th>Business Hours</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% if @ticket_priorities %>
        <%= render @ticket_priorities %>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
